
#### joe made this: http://goel.io/joe

#####=== Laravel ===#####

/bootstrap/compiled.php
.env.*.php
.env.php

#####=== Composer ===#####

composer.phar
vendor/

# Commit your application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock


/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

.idea/

public/assets/angular/

resources/views/angular.blade.php

deployment.ini

*.log

.htdeployment

.env.prod

.env.dev
