<mat-toolbar class="toolbar">
  <div class="left">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon (click)="mainService.toggleSideNav()">menu</mat-icon>
    </button>

    <div class="links">
      <div>
        <a [routerLink]="['/']"
           [title]="trans.home">
          {{trans.home}}
        </a>
      </div>
      <div>
        <a [routerLink]="['/', routing.users.base]"
           [title]="trans.users">
          {{trans.users}}
        </a>
      </div>
    </div>
  </div>

  <div class="center">
    <span>My App</span>
  </div>

  <div class="float-right">
    {{trans.language}}: {{config.defaultLanguage}}
  </div>
</mat-toolbar>

