<mat-form-field color="primary" appearance="outline">
  <mat-label>Type de prestation</mat-label>
  <mat-select [formControl]="prestations" multiple>
    <mat-select-trigger>
      {{prestations.value ? prestations.value[0] : ''}}
      <span *ngIf="prestations.value?.length > 1" class="example-additional-selection">
        (+{{prestations.value.length - 1}} {{prestations.value?.length === 2 ? 'other' : 'others'}})
      </span>
    </mat-select-trigger>
    <mat-option *ngFor="let topping of prestationList" [value]="topping">{{topping}}</mat-option>
  </mat-select>
</mat-form-field>
