/**
 * Homy Forms
 */

.homy-form {
  .mat-form-field-appearance-fill {
    .mat-form-field-flex {
      border: 1px solid orange;
      border-radius: 20px;
      background-color: rgba(0, 0, 0, 0.04);
    }
    .mat-form-field-underline::before {
      background-color: orange;
    }
  }

  .mat-form-field-appearance-outline {
    .mat-form-field-prefix {
      top: -4px;
      margin-right: 8px;
    }
  }
  .mat-form-field-underline {
    width: unset;
    color: orange;
    left: 20px;
    right: 20px;
    position: absolute;
    pointer-events: none;

    .mat-form-field-ripple {
      color: orange;
    }
  }

  .button-toggle-group {
    margin-bottom: 1.34375em;
    display: flex;
    & > * {
      flex: 1;
    }
  }

  .mat-form-field-outline-start, {
    border-radius: 20px 0 0 20px !important;
  }
  .mat-form-field-outline-end {
    border-radius: 0 20px 20px 0 !important;
  }

}

.inline-inputs {
  display: flex;
  gap: 2%;
  & > * {
    flex: 1;
    max-width: 49%;
  }
}


.vertical-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  &> * {
    min-height: 50px;
  }
}
