/**
 * Global Layout and Grid System
 */

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix {

  &:after {
    content: '';
    clear: both;
    display: block;
  }
}

.flex-contents {
  display: flex;
  flex-direction: column;
  margin-bottom: auto; // it pulls this element on top
}
