<div class="col-md-6 offset-md-3 mt-5">
  <div class="alert alert-info">
    Username: test@test.com<br />
    Password: test
  </div>
  <div class="card">
    <h4 class="card-header">Renseignez vos identifiants</h4>
    <div class="card-body">
      <form class="homy-form vertical-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <mat-form-field color="primary" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" ngModel email required>
          <span matPrefix><fa-icon [icon]="faEnvelope"></fa-icon></span>
        </mat-form-field>

        <mat-form-field color="primary" appearance="outline">
          <mat-label>Mot de passe</mat-label>
          <input matInput type="password" formControlName="password" required>
          <span matPrefix><fa-icon [icon]="faEyeSlash"></fa-icon></span>
        </mat-form-field>

        <mat-slide-toggle ngDefaultControl formControlName="rememberMe">Se souvenir de moi</mat-slide-toggle>

        <button [disabled]="loading" mat-raised-button class="fat-button" color="primary">Connexion</button>

        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
      </form>
    </div>
  </div>
</div>
