@import "src/styles/general/layout";
@import "src/styles/general/colors";

:host {
  @extend .flex-contents;
  padding: 15px;

  mat-form-field {
    border-radius: 10px;
  }
}

.my-card {
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
}

.mat-select-panel {
  background: $main-color;
}

mat-form-field {
  width: 100%;
}
